In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Collecting Selenium
  Downloading selenium-4.11.2-py3-none-any.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 1.1 MB/s eta 0:00:00
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.10.3-py3-none-any.whl (17 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\new folder\lib\site-packages (from Selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\new folder\lib\site-packages (from Selenium) (2022.9.14)
Collecting trio~=0.17
  Downloading trio-0.22.2-py3-none-any.whl (400 kB)
     ------------------------------------ 400.2/400.2 kB 755.8 kB/s eta 0:00:00
Requirement already satisfied: attrs>=20.1.0 in c:\new folder\lib\site-packages (from trio~=0.17->Selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\new folder\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: idna in c:\new folder\lib\site-packages (from trio~=0.17->Selenium) (3.3)
Requirement already satisfied: sniffio in c:\new folder\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sortedcontainers in c:\new folder\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.3-py3-none-any.whl (14 kB)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\new folder\lib\site-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\new folder\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     -------------------------------------- 58.3/58.3 kB 615.6 kB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, Selenium
Successfully installed Selenium-4.11.2 exceptiongroup-1.1.3 h11-0.14.0 outcome-1.2.0 trio-0.22.2 trio-websocket-0.10.3 wsproto-1.2.0

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [61]:
driver=webdriver.Chrome()
driver.get('https://www.shine.com/')

In [62]:
title=driver.find_element(By.CLASS_NAME,'searchBarInput')
title.send_keys('Data Analyst')

In [63]:
designation=driver.find_element(By.CLASS_NAME,'form-control ')
designation.send_keys('Data Analyst')

In [64]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [65]:
search_btn= driver .find_element(By.XPATH,'//button[@class=" btn btn-secondary undefined"]')
search_btn

In [66]:
search_btn=driver.find_element(By.CLASS_NAME,'searchForm_btnWrap__Cb75F')
search_btn.click()

In [69]:
title_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_294")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_383")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_384")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_385")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_387")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_389")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_390")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_391")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_392")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_393")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_394")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_395")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_396")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_397")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_399")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_400")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_401")>]

In [70]:
job1_titles=[]
for i in title_tag:
    if i.text is None:
        job1_titles.append('Not')
    else:
        job1_titles.append(i.text)
job1_titles[:10]

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst',
 'Urgently need a Data Analyst']

In [78]:
# lets extract all the tags having locations
locations_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
locations_tag

[<selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_865")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_970")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_989")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1012")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1013")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1014")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1016")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1017")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1018")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1019")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1020")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1021")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1022")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1023")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1024")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1025")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d0e51060d87802dafd7db09687723cf4", element="E30D4AC2C0E62C7C5A48DADA4EDAF6AB_element_1026")>]

In [79]:
locations1_list=[]
for i in locations_tag:
    locations1_list.append(i.text)
locations1_list[:10]

['Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [80]:
print(len(job1_titles[:10])),print(len(locations1_list[:10]))

10
10

(None, None)

In [81]:
job1=pd.DataFrame({})
job1['title']=job1_titles[:10]

job1['location']=locations1_list[:10]

In [82]:
job1

                                title        location
0  Project Coordinator (Data Analyst)       Bangalore
1          Data Analyst - Java/Python       Bangalore
2             Hiring For Data Analyst  Bangalore\n+14
3                 Senior Data Analyst       Bangalore
4                        Data Analyst   Bangalore\n+9
5      Data Analyst Urgent Recruiment  Bangalore\n+14
6            Apply Now a Data Analyst       Bangalore
7              Apply Now Data Analyst       Bangalore
8             Needed for Data Analyst       Bangalore
9        Urgently need a Data Analyst       Bangalore

# Q2:Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [83]:
driver=webdriver.Chrome()
driver.get('https://www.shine.com/')

In [84]:
title=driver.find_element(By.CLASS_NAME,'searchBarInput')
title.send_keys('Data Scientist')

In [85]:
designation=driver.find_element(By.CLASS_NAME,'form-control ')
designation.send_keys('Data Scientist')

In [86]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [87]:
search_btn= driver .find_element(By.XPATH,'//button[@class=" btn btn-secondary undefined"]')
search_btn

In [88]:
search_btn=driver.find_element(By.CLASS_NAME,'searchForm_btnWrap__Cb75F')
search_btn.click()

In [89]:
title_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_343")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_345")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_346")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_347")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_348")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_350")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_352")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_353")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_355")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_356")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_358")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_361")>]

In [90]:
job1_titles=[]
for i in title_tag:
    if i.text is None:
        job1_titles.append('Not')
    else:
        job1_titles.append(i.text)
job1_titles[:10]

['Hiring For Data Scientist',
 'Hiring For Data Scientist',
 'Data Scientist',
 'Data Scientist Urgent Recruitment',
 'Required for Data Scientist',
 'Urgently need Data Scientist',
 'Data scientist Bangalore',
 'Data Scientist',
 'Hiring For Data Scientist',
 'Needed for the post Data Scientist']

In [92]:
# lets extract all the tags having company names
company_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_324")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_398")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_408")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_415")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_419")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_420")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_421")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_422")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_423")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_424")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_425")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_428")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_429")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="E77358DA0CDA7884DF9331FE7C574789_element_430")>]

In [93]:
# Now we will extract the text from the tags by looping over these tags
companies1_names=[]

for i in company_tag:
    companies1_names.append(i.text)
companies1_names[:10]

['kavya staffing solutions',
 'kavya staffing solutions',
 'skyleaf consultants',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'seven geomax consulting private lim...',
 'employberry consultants hiring for ...',
 'niharika enterprises',
 'deuglo infosystem private limited']

In [95]:
# lets extract all the tags having locations
locations_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
locations_tag

[<selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_675")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_552")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_678")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_679")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_680")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_683")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_685")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_686")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_687")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_688")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_689")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_691")>,
 <selenium.webdriver.remote.webelement.WebElement (session="849e91335389d4dee02ec60d6769b8f0", element="3CB659489A57AE9E9C617457A095C766_element_692")>]

In [96]:
locations1_list=[]
for i in locations_tag:
    locations1_list.append(i.text)
locations1_list[:10]

['Bangalore\n+17',
 'Bangalore\n+17',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+8',
 'Bangalore',
 'Bangalore',
 'Bangalore\n+15',
 'Bangalore\n+8']

In [97]:
print(len(job1_titles[:10])),print(len(companies1_names[:10])),print(len(locations1_list[:10]))

10
10
10

(None, None, None)

In [98]:
job1=pd.DataFrame({})
job1['title']=job1_titles[:10]
job1['company_name']=companies1_names[:10]
job1['location']=locations1_list[:10]

In [99]:
job1

,title,company_name,location
0,Hiring For Data Scientist,kavya staffing solutions,Bangalore\n+17
1,Hiring For Data Scientist,kavya staffing solutions,Bangalore\n+17
2,Data Scientist,skyleaf consultants,Bangalore
3,Data Scientist Urgent Recruitment,divya interprises,Bangalore\n+14
4,Required for Data Scientist,deuglo infosystem private limited,Bangalore
5,Urgently need Data Scientist,deuglo infosystem private limited,Bangalore\n+8
6,Data scientist Bangalore,seven geomax consulting private lim...,Bangalore
7,Data Scientist,employberry consultants hiring for ...,Bangalore
8,Hiring For Data Scientist,niharika enterprises,Bangalore\n+15
9,Needed for the post Data Scientist,deuglo infosystem private limited,Bangalore\n+8

Q3: In this question you have to scrape data using the filters available on the webpage 
 You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the web page https://www.shine.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scrapeddata.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [103]:
driver=webdriver.Chrome()
driver.get('https://www.shine.com/')

In [104]:
title=driver.find_element(By.CLASS_NAME,'searchBarInput')
title.send_keys('Data Scientist')

In [105]:
designation=driver.find_element(By.CLASS_NAME,'form-control ')
designation.send_keys('Data Scientist')

In [106]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Delhi/NCR')

In [107]:
search_btn= driver .find_element(By.XPATH,'//button[@class=" btn btn-secondary undefined"]')
search_btn

In [108]:
search_btn=driver.find_element(By.CLASS_NAME,'searchForm_btnWrap__Cb75F')
search_btn.click()

In [113]:
title_tag=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_319")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_347")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_348")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_350")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_351")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_352")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_353")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_355")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_356")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_357")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_358")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_359")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_361")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_362")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_363")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_364")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_365")>]

In [114]:
job1_titles=[]
for i in title_tag:
    if i.text is None:
        job1_titles.append('Not')
    else:
        job1_titles.append(i.text)
job1_titles[:10]

['Data Scientist - Spark/Python/Redshift',
 'Data Scientist - Spark/Python/Redshift',
 'Urgently need Data Scientist',
 'Needed for the post Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'for _GCP Data Engineer/Lead/Architect- Delhi',
 'for _GCP Data Engineer/Lead/Architect- Delhi',
 'Data Scientist']

In [115]:
# lets extract all the tags having company names
company_tag=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
company_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_320")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_401")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_402")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_403")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_404")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_405")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_406")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_407")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_408")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_411")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_412")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_414")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_415")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_416")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_417")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_419")>]

In [116]:
# Now we will extract the text from the tags by looping over these tags
companies1_names=[]

for i in company_tag:
    companies1_names.append(i.text)
companies1_names[:10]

['boyen haddin consulting and technol...',
 'boyen haddin consulting and technol...',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'quiscon biotech',
 'skyleaf consultants',
 'quiscon biotech',
 'nina s hr consultancy',
 'nina s hr consultancy',
 'acme services private limited']

In [117]:
# lets extract all the tags having locations
locations_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
locations_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_594")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_659")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_669")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_670")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_671")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_672")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_673")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_674")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_675")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_676")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_678")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_679")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_680")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_682")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_683")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_684")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_685")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="220DDF799B31CAFFE6ECACD07F5B4D71_element_686")>]

In [118]:
locations1_list=[]
for i in locations_tag:
    locations1_list.append(i.text)
locations1_list[:10]

['Delhi\n+4',
 'Delhi\n+4',
 'Delhi\n+8',
 'Delhi\n+8',
 'Delhi\n+6',
 'Delhi',
 'Delhi\n+6',
 'Delhi',
 'Delhi',
 'Delhi\n+4']

In [119]:
experience_tag=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience_tag

[<selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1538")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1542")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1544")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1271")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1545")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1546")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1548")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1549")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1552")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1553")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1554")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1555")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1556")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1557")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3e9446cae86c784bbb98c28c881a7544", element="B5E43908EC38F4B88B7D5E9A186BE1BB_element_1558")>]

In [120]:
experience1_names=[]

for i in experience_tag:
    experience1_names.append(i.text)
experience1_names[:10]

['0 to 3 Yrs',
 '3 to 6 Yrs',
 '0 to 1 Yr',
 '2 to 3 Yrs',
 '2 to 3 Yrs',
 '3 to 5 Yrs',
 '2 to 6 Yrs',
 '4 to 8 Yrs',
 '3 to 5 Yrs',
 '3 to 6 Yrs']

In [122]:
print(len(job1_titles[:10])),print(len(companies1_names[:10])),print(len(locations1_list[:10]),print(len(experience1_names[:10])))

10
10
10
10 None

(None, None, None)

In [123]:
job1=pd.DataFrame({})
job1['title']=job1_titles[:10]
job1['company_name']=companies1_names[:10]
job1['location']=locations1_list[:10]
job1['experience_required']=experience1_names[:10]

In [124]:
job1

,title,company_name,location,experience_required
0,Data Scientist - Spark/Python/Redshift,boyen haddin consulting and technol...,Delhi\n+4,0 to 3 Yrs
1,Data Scientist - Spark/Python/Redshift,boyen haddin consulting and technol...,Delhi\n+4,3 to 6 Yrs
2,Urgently need Data Scientist,deuglo infosystem private limited,Delhi\n+8,0 to 1 Yr
3,Needed for the post Data Scientist,deuglo infosystem private limited,Delhi\n+8,2 to 3 Yrs
4,Data Scientist,quiscon biotech,Delhi\n+6,2 to 3 Yrs
5,Data Scientist,skyleaf consultants,Delhi,3 to 5 Yrs
6,Data Scientist,quiscon biotech,Delhi\n+6,2 to 6 Yrs
7,for _GCP Data Engineer/Lead/Architect- Delhi,nina s hr consultancy,Delhi,4 to 8 Yrs
8,for _GCP Data Engineer/Lead/Architect- Delhi,nina s hr consultancy,Delhi,3 to 5 Yrs
9,Data Scientist,acme services private limited,Delhi\n+4,3 to 6 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. ProductDescription
8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search fieldwhere “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100sunglasses.
Note: That all of the above steps have to be done by coding only and not manually

In [3]:
driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/')

In [4]:
search=driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys('sunglasses')

In [5]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [6]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [7]:
B_name=[]
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]

In [8]:
P_desc=[]
for i in range(3):
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100]

In [9]:
Price=[]
for i in range(3):
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for l in price:
        Price.append(l.text)
    Price[:100]

In [10]:
Discount=[]
for i in range(3):
    discount=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [11]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [12]:
sun_gl=pd.DataFrame({})
sun_gl['Brand_name']=B_name[:100]
sun_gl['P_price']=Price[:100]
sun_gl['Pr_desc']=P_desc[:100]
sun_gl['P_discount']=Discount[:100]

In [13]:
sun_gl

,Brand_name,P_price,Pr_desc,P_discount
0,VINCENT CHASE,₹899,"UV Protection, Polarized Over-sized Sunglasses...",55% off
1,Singco India,₹379,"Riding Glasses, UV Protection Clubmaster, Wayf...",81% off
2,SRPM,₹204,UV Protection Wayfarer Sunglasses (50),84% off
3,PIRASO,₹239,UV Protection Clubmaster Sunglasses (54),85% off
4,Elligator,₹179,"UV Protection Cat-eye, Retro Square, Oval, Rou...",70% off
...,...,...,...,...
95,ROYAL SON,₹594,"by Lenskart Polarized, UV Protection Wayfarer ...",73% off
96,VINCENT CHASE,₹965,"by Lenskart Polarized, UV Protection Round Sun...",57% off
97,ROYAL SON,₹398,UV Protection Retro Square Sunglasses (54),77% off
98,SmartGlass,₹429,"UV Protection, Mirrored, Polarized Rectangular...",74% off
99,ROADWAY,₹294,UV Protection Sunglass,55% off

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [15]:
import requests

In [16]:
page=requests.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')
page

Q6: Scrape data forfirst 100 sneakers you find whenyou visit flipkart.com and search for “sneakers” inthe
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes

In [18]:
driver=webdriver.Chrome()
driver.get('https://www.flipkart.com/')

In [19]:
search=driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys('sneaker')

In [20]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_btn

In [21]:
search_btn=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [22]:
B_name=[]
for i in range(3):
    b_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]

In [23]:
P_desc=[]
for i in range(3):
    p_desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100]

In [24]:
Price=[]
for i in range(3):
    price =driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for l in price:
        Price.append(l.text)
    Price[:100]

In [25]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100]))

100
100
100

(None, None, None)

In [26]:
sneaker=pd.DataFrame({})
sneaker['Brand_name']=B_name[:100]
sneaker['P_price']=Price[:100]
sneaker['Pr_desc']=P_desc[:100]

In [27]:
sneaker

        Brand_name P_price                                            Pr_desc
0         Magnolia    ₹449  Modern Trendy Sneakers boot Sneakers Sneakers ...
1              SFR    ₹349  Exclusive Affordable Collection of Trendy & St...
2           BRUTON    ₹379               Modern Trendy Shoes Sneakers For Men
3         Nobelite    ₹299                                   Sneakers For Men
4             PUMA  ₹1,930             Puma Rebound LayUp SL Sneakers For Men
..             ...     ...                                                ...
95      Free Kicks  ₹1,400  Combo Of 2 Shoes FK-570 & FK-492 Sneakers For Men
96  KNIGHT WALKERS    ₹619                            SS1100 Sneakers For Men
97             SFR    ₹349  Exclusive Affordable Collection of Trendy & St...
98           Sparx    ₹562                                   Sneakers For Men
99        Nobelite    ₹299                                   Sneakers For Men

[100 rows x 3 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. Title
2. Ratings
3. Price

In [28]:
driver=webdriver.Chrome()
driver.get(' https://www.amazon.in/')

In [29]:
search=driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys('Laptop')

In [35]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn.click()

In [36]:
B_name=[]
for i in range(1):
    b_name=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

    for j  in b_name:
        B_name.append(j.text)
    B_name[:10]

In [43]:
Rating=[]
for i in range(1):
    r_name=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')

    for j  in r_name:
        Rating.append(j.text.replace("\n",""))
    Rating[:10]

In [38]:
Price=[]
for i in range(1):
    price =driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
    for l in price:
        Price.append(l.text).
    Price[:10]

In [44]:
print(len(B_name[:10])),print(len(Price[:10])),print(len(Rating[:10]))

10
10
10

(None, None, None)

In [45]:
lap=pd.DataFrame({})
lap['Brand_name']=B_name[:10]
lap['P_price']=Price[:10]
lap['Rating']=Rating[:10]

In [46]:
lap

                                          Brand_name   P_price Rating
0  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...    70,990
1  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...    64,990
2  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...    86,249
3  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...    89,990
4  Acer Nitro 5 12th Gen Intel Core i7-12650H Gam...    99,990
5  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...    62,990
6  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...  1,15,990
7  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...    89,990
8  Dell Inspiron 5630 13th Gen Laptop, Intel Core...    89,990
9  ASUS Creator Series Vivobook 16X (2023), Intel...    86,990

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on TopQuotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [49]:
import requests

In [52]:
page1=requests.get('https://www.azquotes.com/')
page1

ConnectionError: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [17]:
driver=webdriver.Chrome()
driver.get('https://www.jagranjosh.com/')

In [27]:
Name=[]
for i in range(1):
    price =driver.find_elements(By.TAG_NAME,'a')
    for l in price:
        Name.append(l.text)
    Name

In [23]:
BD=[]
for i in range(1):
    price =driver.find_elements(By.TAG_NAME,'p')
    for l in price:
        BD.append(l.text)
    BD

In [24]:
Term=[]
for i in range(1):
    price =driver.find_elements(By.TAG_NAME,'span')
    for l in price:
        Term.append(l.text)
    Term

In [25]:
Rem=[]
for i in range(1):
    price =driver.find_elements(By.TAG_NAME,'p')
    for l in price:
        Rem.append(l.text)
    Rem

In [28]:
print(len(Name)),print(len(BD)),print(len(Term)),print(len(Rem))

196
125
229
125

(None, None, None, None)

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe.

In [3]:
driver=webdriver.Chrome()
driver.get('https://www.motor1.com/')

In [4]:
search=driver.find_element(By.XPATH,'//input[@class="m1-search-panel-input m1-search-form-text"]')
search.send_keys('50 most expensive cars')

In [5]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_btn.click()

In [6]:
B_name=[]
for i in range(1):
    b_name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')

    for j  in b_name:
        B_name.append(j.text)
    B_name[:50]

In [13]:
Price=[]
for i in range(1):
    price =driver.find_elements(By.TAG_NAME,'p')
    for l in price:
        Price.append(l.text)
    Price[:50]

In [14]:
print(len(B_name[:50])),print(len(Price[:50])),

50
50

(None, None)

In [15]:
lap=pd.DataFrame({})
lap['Brand_name']=B_name[:50]
lap['P_price']=Price[:50]

In [16]:
lap

,Brand_name,P_price
0,Aston Martin Valour,When it comes to high-end hypercars and super-...
1,McLaren Elva,But in order to find out which of these unatta...
2,Czinger 21C,"We should note, though: The prices listed here..."
3,Ferrari Monza,Top Videos:
4,Gordon Murray T.33,Other Awesome Automotive Lists:
5,Koenigsegg Gemera,Price: $1.5 Million
6,Zenvo TSR-S,Want to get your hands on this lovely Aston Ma...
7,Hennessey Venom F5,Price: $1.7 Million
8,Bentley Bacalar,The McLaren Elva is one of the latest addition...
9,Hispano Suiza Carmen Boulogne,Price: $1.7 Million
10,Bentley Mulliner Batur,"You might not know the name Czinger yet, but t..."
11,Deus Vayanne,Price: $1.7 Million
12,SSC Tuatara,"Much like the roof-less McLaren Elva, the Ferr..."
13,Lotus Evija,Price: $1.7 Million
14,Aston Martin Vulcan,The second and slightly more affordable superc...
15,Delage D12,Price: $1.7 Million
16,Ferrari Daytona SP3,"One of two Koenigsegg models on this list, the..."
17,McLaren Speedtail,Price: $1.7 Million
18,Rimac Nevera,"Hailing from Denmark, the Zenvo TSR-S debuted ..."
19,Pagani Utopia,Price: $1.8 Million
20,Pininfarina Battista,"The Hennessey Venom GT was a record-breaker, t..."
21,Gordon Murray T.50,Price: $1.9 Million
22,Lamborghini Countach,"With just 12 total units produced, the Bentley..."
23,Mercedes-AMG Project One,Price: $1.9 Million
24,Zenvo Aurora,To call the Hispano Suiza Carmen Boulogne beau...
25,Aston Martin Victor,Price: $2.0 Million
26,Hennessey Venom F5 Roadster,The electric onslaught is coming. Bentley says...
27,Koenigsegg Jesko,Price: $2.0 Million
28,Aston Martin Valkyrie,The Deus Vayanne may not be a household name (...
29,W Motors Lykan Hypersport,Price: $2.0 Million
30,McLaren Solus,"Although initially cloaked in controversy, SSC..."
31,Lamborghini Sian,Price: $2.1 Million
32,Koenigsegg CC850,With a new Emira sports car and an Eletre elec...
33,Bugatti Chiron Super Sport 300+,Price: $2.3 Million
34,Lamborghini Veneno,"As with a few other cars on this list, the Ast..."
35,Bugatti Bolide,Price: $2.3 Million
36,Pininfarina B95 Speedster,You may have heard of Delage before. In the ea...
37,Bugatti Mistral,Price: $2.3 Million
38,Pagani Huayra Imola,The Ferrari Daytona SP3 is the brand’s most ae...
39,Bugatti Divo,Price: $2.3 Million
40,SP Automotive Chaos,What would you pay for the fastest production ...
41,Pagani Codalunga,Price: $2.4 Million
42,777 Hypercar,The Rimac Nevera takes the title of most expen...
43,Mercedes-Maybach Exelero,Price: $2.5 Million
44,Bugatti Centodieci,"First came the Zonda, then the Huayra, and now..."
45,Bugatti Chiron Profilée,Price: $2.5 Million
46,Rolls-Royce Sweptail,"Aptly named after the company’s founder, Batti..."
47,Bugatti La Voiture Noire,Price: $2.6 Million
48,Rolls-Royce Boat Tail*,"If the name Gordon Murray sounds familiar, it’..."
49,Rolls-Royce La Rose Noire Droptail,Price: $2.6 Million